
    <div class="container">



        <div class="row">

        <%= link_to "Admin", admins_path, class: "btn btn-lnk", type: 'button' %>

        </div>

        <div class="row">
            <h1 class="center">Analytics Dashboard</h1>
        </div>

    <div class="row">
        <div class="table-responsive col-xs-6">
          <table class="table data-table">
            <thead>
              <tr>
                <th colspan="2" class="center">All TIME</th>
              </tr>
              <tr>
                <th>Item</th>
                <th>Data</th>
              </tr>
            </thead>
          <tbody>

            <tr>
              <td>New Users</td>
              <td><%= @total_users.count %></td>
            </tr>
    		<tr>
    	      <td>Orders</td>
    		  <td><%= @total_orders.count %></td>
    		</tr>
    		<tr>
    	  	  <td>New Products</td>
    		  <td><%= @total_products.count %></td>
    		</tr>
            <tr>
    		  <td>Revenue</td>
     		  <td><%= @revenue %></td>
    		</tr>
    	  </table>
        </div>


       <div class="table-responsive col-xs-6">
          <table class="table data-table">
            <thead>
              <tr>
                <th colspan="2" class="center">7 Days</th>
              </tr>
              <tr>
                <th>Item</th>
                <th>Data</th>
              </tr>
            </thead>
          <tbody>

            <tr>
              <td>New Users</td>
              <td><%= @user_7_days  %></td>
            </tr>
            <tr>
              <td>Orders</td>
              <td><%= @order_7_days  %></td>
            </tr>
            <tr>
              <td>New Products</td>
              <td><%= @product_7_days  %></td>
            </tr>
            <tr>
              <td>Revenue</td>
              <td><%=  %></td>
            </tr>
          </table>
        </div>

       <div class="table-responsive col-xs-6">
          <table class="table data-table">
            <thead>
              <tr>
                <th colspan="2" class="center">30 Days</th>
              </tr>
              <tr>
                <th>Item</th>
                <th>Data</th>
              </tr>
            </thead>
          <tbody>

            <tr>
              <td>New Users</td>
              <td><%= @user_30_days  %></td>
            </tr>
            <tr>
              <td>Orders</td>
              <td><%= @order_30_days  %></td>
            </tr>
            <tr>
              <td>New Products</td>
              <td><%= @product_30_days  %></td>
            </tr>
            <tr>
              <td>Revenue</td>
              <td><%=  %></td>
            </tr>
          </table>
        </div>




       <div class="table-responsive col-xs-6">
          <table class="table data-table">
            <thead>
              <tr>
                <th colspan="2" class="center">User Demo</th>
              </tr>
              <tr>
                <th>Item</th>
                <th>Data</th>
              </tr>
            </thead>
          <tbody>

            <tr>
              <td>New Users</td>
              <td><%= @user_7_days  %></td>
            </tr>
            <tr>
              <td>Orders</td>
              <td><%= @order_7_days  %></td>
            </tr>
            <tr>
              <td>New Products</td>
              <td><%= @product_7_days  %></td>
            </tr>
            <tr>
              <td>Revenue</td>
              <td><%=  %></td>
            </tr>
          </table>
        </div>



       <div class="table-responsive col-xs-6">
          <table class="table data-table">
            <thead>
              <tr>
                <th colspan="2" class="center">Order Stats</th>
              </tr>
              <tr>
                <th>Item</th>
                <th>Data</th>
              </tr>
            </thead>
          <tbody>

            <tr>
              <td>New Users</td>
              <td><%= @user_7_days  %></td>
            </tr>
            <tr>
              <td>Orders</td>
              <td><%= @order_7_days  %></td>
            </tr>
            <tr>
              <td>New Products</td>
              <td><%= @product_7_days  %></td>
            </tr>
            <tr>
              <td>Revenue</td>
              <td><%=  %></td>
            </tr>
          </table>
        </div>
       <div class="table-responsive col-xs-6">
          <table class="table data-table">
            <thead>
              <tr>
                <th colspan="2" class="center">Time Series</th>
              </tr>
              <tr>
                <th>Item</th>
                <th>Data</th>
              </tr>
            </thead>
          <tbody>

            <tr>
              <td>New Users</td>
              <td><%= @user_7_days  %></td>
            </tr>
            <tr>
              <td>Orders</td>
              <td><%= @order_7_days  %></td>
            </tr>
            <tr>
              <td>New Products</td>
              <td><%= @product_7_days  %></td>
            </tr>
            <tr>
              <td>Revenue</td>
              <td><%=  %></td>
            </tr>
          </table>
        </div>


    </div>


  </body>