<div class="container">

	<div class="row">

		<div class="col-xs-6 col-xs-offset-2 table">



			<h2 class="center">
				<%= params[:action].capitalize %>
				<%= @user.first_name %>&nbsp<%= @user.last_name %>
			</h2>

			<%= form_for @user do |f| %>

				<%= f.label :id %>
				<%= @user.id.nil? ? "N/A" : @user.id %><br />


				<%= f.label :first_name %>

				<% if !@user.errors[:first_name].empty? %>
			    <%= @user.errors[:first_name].join %>
			  <% end %>
				<%= f.text_field :first_name, placeholder: 'First name', required: true %> <br />

				<%= f.label :last_name %>

				<% if !@user.errors[:last_name].empty? %>
			    <%= @user.errors[:last_name].join %>
			  <% end %>
				<%= f.text_field :last_name, placeholder: 'Last name', required: true %> <br />

				<%= f.label :email %>

				<% if !@user.errors[:email].empty? %>
			    <%= @user.errors[:email].join %>
			  <% end %>
				<%= f.text_field :email, placeholder: 'email', required: true %> <br />


				<%= f.label :default_billing_address %>
				<% if !@user.errors[:address].empty? %>
			    <%= @user.errors[:address].join %>
			  <% end %>

<!--TODO: switch to text_field if no address data-->
					<%= f.collection_select :billing_id, @user.addresses, :id, :street_address, required: true, required: true %><br />




					<%= f.label :default_shipping_address %>
					<% if !@user.errors[:address].empty? %>
				    <%= @user.errors[:address].join %>
				  <% end %>
					<%= f.collection_select :shipping_id, @user.addresses, :id, :street_address, required: true, required: true %><br />


				<%= f.submit :Add, class: "btn btn-primary" %><br />
				<%= f.submit :Delete, method: :delete, data: {confirm: "Really delete?"} %>




			<% end %>

		</div>

	</div>

</div> <!--container-->