<%= render :partial => "/layouts/adminheader" %>


    <div class="container-fluid">

      <div class="row">
        <%= render :partial => "/layouts/links_index" %>


        <div class="col-xs-7 col-xs-offset-1 admin-view">


			<%= render :partial => '/layouts/notice' %>

				<h2>Users</h2>
				<div>
					<%= link_to "New User", new_user_path, :class => "btn btn-primary" %><br /><br />
				</div>
				<div class="table-responsive">
					<table class="table">
					<thead>
							<tr>
								<th class="col-xs-1">ID</th>
								<th class="col-xs-2">Name</th>
								<th class="col-xs-2">Joined</th>
								<th class="col-xs-2">City</th>
								<th class="col-xs-1">State</th>
								<th class="col-xs-1">Orders</th>
								<th class="col-xs-2">Last Order Date</th>
								<th class="col-xs-1">SHOW</th>
								<th class="col-xs-1">EDIT</th>
								<th class="col-xs-1">DELETE</th>


							</tr>
						</thead>
						<tbody>
							<% @users.each do | u | %>
								<tr>
									<td><%= u.id %></td>
									<td><%= u.first_name %>&nbsp<%= u.last_name %></td>

									<td>
										<%= u.created_at %>
									</td>

									<td>
										<%= u.addresses.first.city.name %>
									</td>

									<td>
										<%= u.addresses.first.state.name %>
									</td>

									<td>
										<%= u.orders.count %>
									</td>

									<td>
										<%= get_last_checkout( u ) %>
									</td>

									<td class="col-xs-4">
										<%= link_to "Show", user_path( u ) %>
									</td>
									<td>
										<%= link_to "Edit", edit_user_path( u ) %>
									</td>
									<td>
										<%= link_to "Delete", user_path( u ), method: :delete, data: {confirm: "Really delete the user?"} %>
									</td>

								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>



      </div>
    </div>