<div class="container">


	<div class="row center">



		<h1>User&nbsp<%= @user.id %>:&nbsp<%= @user.first_name %>&nbsp<%= @user.last_name %></h1>

	</div>

	<!-- FIRST TABLE - DEMOGRAPHIC INFO FOR USER -->

	<table class="table">

		<thead>
			<th class="center"  colspan = "2">Demographic Information</th>
		</thead>
		<tr>
			<td class = "col-xs-4"> First Name:</td>
			<td class = "col-xs-4"><%= @user.first_name %></td>
		</tr>

		<tr>
			<td class = "col-xs-4">Last Name:</td>
			<td class = "col-xs-4"><%= @user.last_name %></td>
		</tr>

		<tr>
			<td class = "col-xs-4">Email:</td>
			<td class = "col-xs-4"><%= @user.email %></td>
		</tr>

		<tr>
			<td class = "col-xs-4">Telephone:</td>
			<td class = "col-xs-4">
				<%=   %>
			</td>
		</tr>

		<!-- ADDRESSES -->

		<tr>
			<td class = "col-xs-4">Default Billing Address:</td>
			<td class = "col-xs-4">
				<% if @user.addresses.empty? %>
					<%= "No address on file" %>
				<% else %>
				  <%= @user.addresses.first.street_address %>,
				  <%= @user.addresses.first.city.name %>,
				  <%= @user.addresses.first.state.name %>
				  <%= @user.addresses.first.zip_code %>
			  <% end %>
			</td>
		</tr>

		<tr>
			<td class = "col-xs-4">Default Shipping Address:</td>
			<td class = "col-xs-4">
				<% if @user.addresses.empty? %>
					<%= "No address on file" %>
				<% else %>
				  <%= @user.addresses.first.street_address %>,
				  <%= @user.addresses.first.city.name %>,
				  <%= @user.addresses.first.state.name %>
				  <%= @user.addresses.first.zip_code %>
			  <% end %>
			</td>
		</tr>

		<!-- DEMOGRAPHIC LINKS -->
		<tr>
			<td class="row" colspan="2">
					<%= link_to "Edit #{@user.first_name}'s Information", edit_user_path( @user ) %><br />
					<%= link_to "Delete #{@user.first_name}", user_path( @user ), method: :delete, data: {confirm: "Really delete this User?"} %><br />
					<%= link_to "View Saved Addresses" %><br />
					<%= link_to "View Unplaced Order (Cart)" %>
			</td>
		</tr>

</table>


<table class="table">
		<!-- CREDIT CARD INFORMATION -->
		<thead>
			<th class="center"  colspan = "2">Credit Card Information</th>
		</thead>
		<tr>
			<td class = "col-xs-4"> First Name:</td>
			<td class = "col-xs-4"><%= @user.first_name %></td>
		</tr>

		<tr>
			<td class = "col-xs-4">Last Name:</td>
			<td class = "col-xs-4"><%= @user.last_name %></td>
		</tr>

		<tr>

			<td class = "col-xs-4">Number:</td>
			<td class = "col-xs-4"><%= @card ? @card.card_number : "No card on file" %></td>
		</tr>

		<tr>
			<td class = "col-xs-4">Expiration:</td>
			<td class = "col-xs-4"><%= @card ? @card.exp_year : "No card on file" %></td>
		</tr>

		<tr>
			<td class = "col-xs-4">CCV:</td>
			<td class = "col-xs-4">
				<%= @card ? @card.ccv : "No card on file" %>
			</td>
		</tr>

		<tr>
			<td class="row" colspan="2">
					<%= link_to "Remove Card" %>
			</td>
		</tr>

</table>

<table class="table">
<thead>
	<th class="center" colspan="2">
		Admin Actions for <%= @user.first_name %>
	</th>
</thead>

	<tr>
		<td>
			<%= link_to "Create Order", :class => "btn" %><br />
			<%= link_to "Create Address", :class => "btn" %>
		</td>
	</tr>

</table>


<table class="table">
		<!-- ORDER HISTORY -->
	<thead>
		<tr>
			<th class="col-xs-1">ID</th>
			<th class="col-xs-3">Order Date</th>
			<th class="col-xs-2">Order Value</th>
			<th class="col-xs-3">Status</th>
			<th class="col-xs-1">SHOW</th>
			<th class="col-xs-1">EDIT</th>
			<th class="col-xs-1">DELETE</th>
		</tr>
	</thead>
		<tbody>
			<% @user.orders.each do | o | %>
				<tr>
					<td><%= o.id %></td>
					<td><%= o.created_at %></td>
					<td>
						<%=  order_total( o )%>
					</td>

					<td>
						<%=  o.checkout_date ? "Placed" : "Pending" %>
					</td>

					<td class="col-xs-4">
						<%= link_to "Show", user_path( o ) %>
					</td>
					<td>
						<%= link_to "Edit", edit_user_path( o ) %>
					</td>
					<td>
						<%= link_to "Delete", user_path( o ), method: :delete, data: {confirm: "Really delete this user?"} %>
					</td>

				</tr>
			<% end %>
		</tbody>
	</table>

</div>