<div class="container">


	<div class="row center">

	<%= render :partial => '/layouts/notice' %>


	</div>

	<h1 class="center">Edit Order for&nbsp<%= @user.first_name %>&nbsp<%= @user.last_name %></h1>

	<table class="table col-xs-6">

		<thead>
			<th class="center"  colspan = "2">Logistical Information</th>
		</thead>
		<tr>
			<td  colspan="2"><h3>Basic Information<h3></td>
		</tr>

<!-- ORDER TABLE -->

		<%= form_tag @order do %>
		<tr class="form-group">
			<td><%= label_tag 'Customer ID:' %></td>
			<td><%= label_tag 'user_id', @user.id %></td>
		</tr>
		<tr class="form-group">
			<td><%= label_tag 'Customer:' %></td>
			<td><%= label_tag 'user[:name]', @user.first_name %></td>
		</tr>
		<tr class="form-group">
			<td><%= label_tag 'Date Placed:' %></td>
			<td><%= label_tag @order.checkout_date %></td>
		</tr>
		<tr>
			<td colspan="2"><%= link_to "Edit Customer Profile", edit_user_path( @user ) %></td>
		</tr>

<!-- ORDER STATUS WITH RADIO BUTTONS -->

		<tr>
			<td  colspan="2"><h3 colspan="2">Order Status<h3></td>
		</tr>

		<tr>
			<td><%= radio_button_tag :checkout_date, "placed" %></td>
			<td><%= label_tag :placed_order, "Placed", class: 'placed' %></td>
		</tr>

		<tr>
			<td><%= radio_button_tag :checkout_date, "unplaced", true if @order.checkout_date.nil? %></td>
			<td><%= label_tag :unplaced_order, "Unplaced", class: 'unplaced' %></td>
		</tr>

	<!--SHIPPNG AND BILLING -->
			<tr>
				<td colspan="2"><h3>Shipping Address</h3></td>
			</tr>

			<tr class="form-group">
				<td><%= label_tag 'Street' %></td>
				<td><%= collection_select :address, :shipping_id, Address.where( :user_id => @user.id ), :id, :street_address %></td>
			</tr>

			<tr>
				<td colspan="2"><h3>Billing Address</h3></td>
			</tr>

			<tr class="form-group">
				<td><%= label_tag 'Street' %></td>
				<td><%= collection_select :address, :billing_id, Address.where(:user_id => @user.id), :id, :street_address %></td>
			</tr>

			<tr>
				<td colspan="2"><h3>Billing Card</h3></td>
			</tr>

			<tr class="form-group">
				<td><%= label_tag 'Credit Card' %></td>
				<td><%= collection_select :credit_card, :id, CreditCard.where(:user_id => @user.id), :id, :last_four %></td>
			</tr>

		<tr>
			<td colspan="2">
				<div class="row">
					<button class="col-xs-10 col-xs-offset-1 btn btn-primary">
						<%= submit_tag "Update Order Information" %>
					</button>
				</div>
			</td>
		</tr>
		<div><%= hidden_field_tag 'user_id', @user.id %>
		<tr>
			<td colspan="2" class="center">
				<%= link_to 'Delete Order', order_path(@order), method: 'delete', data: { confirm: "Are you sure you want to delete this order?"} %>
			</td>
		</tr>


</table>

<% end %>


<!-- EDIT ORDER CONTENTS -->
<table class="table">
	<thead class="plain-border">
		<h1 class="center">Edit Order Contents</h1>
	</thead>

	<tr>
		<th>ID</th>
		<th>Quantity</th>
		<th>Price</th>
		<th>Total Price</th>
		<th>REMOVE</th>
	</tr>
	<%= form_tag @order do %>

			<% @order.order_contents.each do | o | %>
			<tr>
				<td><%= o.id %></td>

				<td class="center"><%= text_field_tag :quantity, o.quantity %></td>

				<td class="right">$<%= o.product.price %></td>

				<td class="right">$<%= o.revenue %></td>

				<td><%= link_to 'REMOVE', product_path( o ), method: 'delete' %></td>

			</tr>
			<% end %>

			<tr>
				<td colspan="5" class="center"><%= link_to "Update Order Contents"   %></td>
			</tr>


	<% end %>

</table>

<!--ADD PRODUCTS TO ORDER -->
<table class="table">

	<thead>
		<h3 class="center">Add Products to Order</h3><br />
		<p class="center"><em>Add up to 5 products at a time</em></p>
	</thead>

	<tr>
		<th>Product ID</th>
		<th>Quantity</th>
	</tr>

	<%= form_tag '/admin/orders/update_products/' do %>

		<tr class="form-group">
			<td><%= text_field_tag "product_id[]", nil, class: 'full-width' %></td>
			<td><%= text_field_tag :quantity, nil, class: 'full-width' %></td>
		</tr>
		<tr class="form-group">
			<td><%= text_field_tag "product_id[]", nil, class: 'full-width' %></td>
			<td><%= text_field_tag :quantity, nil, class: 'full-width' %></td>
		</tr>

		<tr class="form-group">
			<tr class="form-group">
				<%= hidden_field_tag :id, @order.id %>
			</tr>
			<td class="center" colspan="2"><%= submit_tag "Add Products to Order" %></td>
		</tr>

<% end %>


</table>

</div> <!-- container -->