<%= render :partial => "/layouts/adminheader" %>


    <div class="container-fluid">

      <div class="row">
        <%= render :partial => "/layouts/links_index" %>


        <div class="col-xs-7 col-xs-offset-1 admin-view">


			<%= render :partial => '/layouts/notice' %>



					<% if !params[:user] %>

						<h2 class="center">Orders</h2>
				      <div>
						    <p class="center">Create new orders from within&nbsp<%= link_to "user", new_user_path %>&nbspprofiles</p><br /><br />
						  </div>

					<% else %>

						<h2 class="center"><%= @user.first_name %>&nbspAddresses</h2>
						<div class='center'>
							<%= link_to :New, new_order_path(:id => @user.id ), class: "btn btn-primary btn-center", type: 'button' %>
						</div>

					<% end %>




				<div class="table-responsive">
					<table class="table">
					<thead>
							<tr>
								<th class="col-xs-1">ID</th>
								<th class="col-xs-2">User</th>
								<th class="col-xs-2">Street</th>
								<th class="col-xs-2">City</th>
								<th class="col-xs-1">State</th>
								<th class="col-xs-1">Total Value</th>
								<th class="col-xs-1">Status</th>
								<th class="col-xs-1">Date Placed</th>
								<th class="col-xs-1">SHOW</th>
								<th class="col-xs-1">EDIT</th>
								<th class="col-xs-1">DELETE</th>


							</tr>
						</thead>
						<tbody>
							<% @orders.each do | order | %>
								<tr>
									<td><%= order.id %></td>
									<td><%= link_to order.user.id,  user_path( order.user_id ) %></td>
									<td>
										<%= order.user.first_name %>
									</td>
									<td>

										<%= order.address.city.name %>
									</td>
									<td>
										<%=  to_state_abbrev( order.address.state.name ) %>
									</td>
									<td>
										<%=  revenue( order ) %>
									</td>

									<% if order.checkout_date.nil? %>

											<td><p class="unplaced">UNPLACED</p></td>

									<% else %>
											<td><p class="placed">PLACED</p></td>

									<% end %>


									<td>
										<%=  (order.updated_at).strftime("%Y-%m-%d") %>
									</td>







									<td class="col-xs-4">
										<%= link_to "Show", order_path( order ) %>
									</td>
									<td>
										<%= link_to "Edit", edit_order_path( order ) %>
									</td>
									<td>
										<%= link_to "Delete", order_path( order ), method: :delete, data: {confirm: "Really delete the user?"} %>
									</td>

								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>



      </div>
    </div>