
  <%= form_tag(@url) do %>
    <tr class="form-group">
      <td><%= label_tag 'Street:' %></td>
      <td><%= text_field_tag 'street_address', @address.street_address, class: "form-control" %></td>
    </tr>
		<tr class="form-group">
			<td><%= label_tag 'City: ' %></td>
			<td><%= text_field_tag 'city', @address.city.name, class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= label_tag 'State: ' %></td>
            <td><%= text_field_tag 'state', to_state_abbrev(@address.state.name), class: "form-control" %></td>
          </tr>
          <tr>
          <td><%= label_tag 'Zip: ' %></td>
          <td><%= text_field_tag 'zip', @address.zip_code, class: "form-control" %></td>
          </tr>

          <tr>
          <div class="form-group">
            <%=  hidden_field_tag 'id', @address.id %>
          </div>
          <td><%= submit_tag 'update', class: "btn btn-primary form_group", data: { confirm: "Are you sure you want to update?" } %></td>
        </tr>
<% end %>