



  <%= form_tag('/admin/user/addresses/new', :method => 'post') do %>
    <tr class="form-group">
      <td><%= label_tag 'Street:' %></td>
      <td><%= text_field_tag 'street_address', nil, :required => true %></td>
    </tr>

		<tr class="form-group">
			<td><%= label_tag 'City: ' %></td>
			<td><%= text_field_tag 'city', nil, :required => true %></td>
          </tr>
          <tr>
            <td><%= label_tag 'State: ' %></td>
            <td><%= collection_select :state, :id, State.all, :id, :name %></td>
          </tr>
          <tr>
          <td><%= label_tag 'Zip: ' %></td>
          <td><%= text_field_tag 'zip_code', nil, :required => true %></td>
          </tr>

        <tr class='form_group'>

          <td><%= submit_tag 'update', class: "btn btn-primary form-group", data: { confirm: "Are you sure you want to add this address?" } %></td>
          <div>
            <%=  hidden_field_tag 'id', @user.id %>
          </div>
        </tr>

<% end %>