<%= render :partial => "/layouts/adminheader" %>


    <div class="container-fluid">

      <div class="row">
        <%= render :partial => "/layouts/links_index" %>


        <div class="col-xs-7 col-xs-offset-1 admin-view">


			<%= render :partial => '/layouts/notice' %>

				<h2 class="center">Addresses</h2>
				<div>
					<p>Create new addresses from within&nbsp<%= link_to "user", new_user_path %>&nbspprofiles</p><br /><br />
				</div>
				<div class="table-responsive">
					<table class="table">
					<thead>
							<tr>
								<th class="col-xs-1">ID</th>
								<th class="col-xs-2">User</th>
								<th class="col-xs-2">Street</th>
								<th class="col-xs-2">City</th>
								<th class="col-xs-1">State</th>
								<th class="col-xs-1">Orders</th>
								<th class="col-xs-2">Created</th>
								<th class="col-xs-1">SHOW</th>
								<th class="col-xs-1">EDIT</th>
								<th class="col-xs-1">DELETE</th>


							</tr>
						</thead>
						<tbody>
							<% @addresses.each do | address | %>
								<tr>
									<td><%= address.id %></td>
									<td><%= address.user.first_name %></td>
									<td>
										<%= address.city.name %>
									</td>
									<td>
										<%= address.city.name %>
									</td>
									<td>
										<%= to_state_abbrev(address.state.name) %>
									</td>

									<td>
										<%=  address.user.orders.count %>
									</td>

									<td>
										<%= address.created_at %>
									</td>






									<td class="col-xs-4">
										<%= link_to "Show", address_path( address ) %>
									</td>
									<td>
										<%= link_to "Edit", edit_address_path( address ) %>
									</td>
									<td>
										<%= link_to "Delete", address_path( address ), method: :delete, data: {confirm: "Really delete the user?"} %>
									</td>

								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>



      </div>
    </div>