<div class="container">

  <%= render partial: 'notice' %>

	<h2>Categories</h2>
	<div>
		<%= link_to "New Category", new_admin_category_path, :class => "btn btn-primary" %><br /><br />
	</div>
	<div class="table-responsive">
		<table class="table">
		<thead>
				<tr>
					<th class="col-xs-2">Category</th>
					<th class="col-xs-6">Description</th>
					<th class="col-xs-4">Action</th>
				</tr>
			</thead>
			<tbody>
				<% @categories.each do |c| %>
					<tr>
						<td class="col-xs-2"><%= c.name %></td>
						<td class="col-xs-6"><%= c.description %></td>

						<td class="col-xs-4">
							<%= link_to "Show" %>
							<%= link_to "Edit" %>
							<%= link_to "Delete" %>
						</td>

					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>