<div class="container">


<%= form_for @category, :url => {:action => "create"} do |f| %>

	<%= f.label :Category_ID %>
	<%= @category.id %><br />
	<%= f.label :name %>
	<%= @category.name %>

<% end %>

<%= link_to "Edit Category", edit_category_path( @category ) %><br />
<%= link_to "Delete Category", category_path( @category ), method: :delete, data: {confirm: "Really delete the category?"} %>


	<h2>Products</h2>

	<div class="table-responsive">
		<table class="table">
		<thead>
				<tr>
					<th class="col-xs-2">Title</th>
					<th class="col-xs-2">Category</th>
					<th class="col-xs-4">Description</th>
					<th class="col-xs-4">Action</th>
				</tr>
			</thead>
			<tbody>
				<% @products.each do | product | %>
					<tr>
						<td class="col-xs-2"><%= link_to product.name, product_path( product ) %></td>
						<td class="col-xs-2"><%= product.category.name %></td>
						<td class="col-xs-4"><%= product.description %></td>

						<td class="col-xs-4">
							<%= link_to "Show", product_path( product ) %>
							<%= link_to "Edit", edit_product_path( product ) %>
							<%= link_to "Delete", product_path( product ), method: :delete, data: {confirm: "Really delete the product?"}  %>
						</td>

					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>