<div class="container">

      <div class="row">
        <div class="col-xs-4 links">
          <ul class="admin-links">

            <li><a href="#" name="users">Users</a></li>
          <li><a href="#" name="Addresses">Addresses</a></li>
          <li><a href="#" name="Orders">Orders</a></li>
          <li><%= link_to "Products", products_path %></li>
          <li><%= link_to "Categories", categories_path %></li>
          <br />
          <%= link_to "Analytics Dash", static_pages_path %></li>
        </div>


        <div class="col-xs-7 col-xs-offset-1 admin-view">

<%= render partial: 'notice' %>
	<h2>Products</h2>
	<div>
		<%= link_to "New Product", new_product_path, :class => "btn btn-primary" %><br /><br />
	</div>
	<div class="table-responsive">
		<table class="table">
		<thead>
				<tr>
					<th class="col-xs-2">Product</th>
					<th class="col-xs-4">Description</th>
					<th class="col-xs-2">Category</th>
					<th class="col-xs-4">Action</th>
				</tr>
			</thead>
			<tbody>
				<% @products.each do | p | %>
					<tr>
						<td class="col-xs-2"><%= p.name %></td>
						<td class="col-xs-4"><%= p.description %></td>

						<td class="col-xs-2"><%=  %>

						<td class="col-xs-4">
							<%= link_to "Show", product_path( p ) %>
							<%= link_to "Edit" %>
							<%= link_to "Delete", product_path( p ), method: :delete, data: {confirm: "Really delete the category?"} %>
						</td>

					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

        </div>

      </div>
